@import './base.css';

body,
*,
html {
  background-color: #2d1b4b;
  font-family: 'VT323', monospace;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

nav{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 0;
  margin-top: 0;
}

a,
.green {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: #a175a5;
  transition: 0.4s;
  padding: 15px;
  border-radius: 30px;
  background-color:#181836f5 ;
  margin: 1rem;
}

@media (hover: hover) {
  a:hover {
    background-color: #6969b35d;
  }
}
