@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  font-weight: normal;
}

body,
*,
html {
  background-color: #2d1b4b;
  font-family: 'VT323', monospace;
  ;
}

a,
.green {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 4rem;
  color: #a175a5;
  transition: 0.4s;
  margin: 1rem;
  width: 40vw;
  border-radius: 50px;
}

@media (hover: hover) {
  a:hover {
    background-color: #6969b35d;
  }
}