@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  font-weight: normal;
}

body,
*,
html {
  background-color: #2d1b4b;
  font-family: 'VT323', monospace;
  ;
}


@media (hover: hover) {
  a:hover {
    background-color: #6969b35d;
  }
}